/*Outside of the Background*/
html,body {
    background-size: 100%;
    background-image: url(mw2.jpg);
    margin: 0px;
    /*border:10px solid goldenrod;*/
    background-color: rgb(207, 205, 205);
}

/*Background*/
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
  
/*Sign In Box*/
.card   {
    display: flex;
    background-color: white;
    font-size: 15px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    border-color: rgba(11, 11, 11, 0.3);
    min-width: 40%;
    min-height: 55%;
    flex-direction: column;
    align-items: center;
}

.username {
  padding-top: 5%;
  background-color: white;
  color: #bababa;
  font-size: 15px;

}

.password {
  padding-top: 5%;
  padding-bottom: 12%;
  background-color: white;
  color: #bababa;
  font-size: 15px;
}

/*Sign In Button*/
.button {
    width: 7vw;
    height: 5vh;
    color: white;
    font-size: 13px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(103, 103, 250);
    border-radius: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}